body{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.left-bar{
    width: 200px;
    float: left;
   
}
.content {
    width: 800px;
    float: left;
   
}
.card{
    width: 20%;
    float: left;
    padding: 5%;
    margin-right: 3%;
    background-color: aliceblue;
    border-radius: 10px;
    
}

.bg-yellow{
    background-color: yellow;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}

.gradient {
    background: linear-gradient(90deg,rgba(45,156,219,.6),rgba(155,81,224,.6));
}
.btn{
    padding:10px 20px;
    border-radius: 25px;
    color:white;
    text-decoration: inherit;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}