/* class -> .text-red {} */
/* id -> #id-bilgisi {} */



#first-article
{
    font-size: 40pz;
}

.text-red 
{
    color: red;
}

.fs-s14mall
{
font-size: 14px;
}

.fs-20
{
font-size: 20px;
}

.fs-30
{
font-size: 30px;
}